{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="button is-fullwidth is-primary">
        <span class="icon is-small">
            <i class="fas fa-save"></i>
        </span>
        <span>{{ "#{name}.save"|trans({}, 'SymfonyCrudBundle') }}</span>
    </button>
{{ form_end(form) }}